<%- model_class = Mood -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Today</th>
      <th>This Week</th>
      <th>This Month</th>
      <th>All Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @moods.each do |mood| %>
      <tr>
        <td><%= link_to mood, [mood,:vents] %></td>
        <td><%= Vent.where{ (created_at >= my{Time.now.beginning_of_day}) & (mood_id == my{mood.id}) }.count %></td>
        <td><%= Vent.where{ (created_at >= my{Time.now.beginning_of_week}) & (mood_id == my{mood.id}) }.count %></td>
        <td><%= Vent.where{ (created_at >= my{Time.now.beginning_of_month}) & (mood_id == my{mood.id}) }.count %></td>
        <td><%= Vent.where{ mood_id == my{mood.id} }.count %></td>
        <td>
          <%= link_to "Vent", new_mood_vent_path(mood), :class => 'btn btn-mini btn-warning' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
